<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout/web-layout.html}">
<head>
    <title>Về chúng tôi</title>
    <link href="/template/login/bootstrap/__maxcdn.bootstrapcdn.com_bootstrap_4.1.1_css_bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <!--        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <script src="/template/login/jquery/__maxcdn.bootstrapcdn.com_bootstrap_4.1.1_js_bootstrap.js"></script>
    <!--        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="/template/login/jquery/__cdnjs.cloudflare.com_ajax_libs_jquery_3.2.1_jquery.js"></script>
    <link th:href="@{template/web/css/about_us.css}" rel="stylesheet">
</head>
<body layout:fragment="content">
<div class="page-title">
    <div class="heading" style="background-color: gray; color:white">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-8">
                    <h1>About Us<br></h1>
                    <p class="mb-0"> Thành viên - Sứ mệnh - Tầm nhìn phát triển</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div >
    <div class="container my-4" style="width: 750px">
        <div class="row">
            <div class="col-sm-12 box my-5" style="min-height: 100px">
                <div class="row">
                    <div class="col-sm-8 d-flex align-items-center justify-content-center">
                        <h5>
                            Họ và tên: Từ Văn Nguyễn Anh Quân<br>
                            Vai trò: Leader<br>
                            Mã số sinh viên: 2212825<br>
                            Email: quan.tuvannganh@hcmut.edu.vn
                        </h5>
                    </div>
                    <div class="col-sm-4">
                        <img src="https://previews.123rf.com/images/artinspiring/artinspiring1811/artinspiring181100743/127434465-portrait-of-young-man-beautiful-handsome-boy-a...or.jpg" class="w-100">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 box my-5" style="min-height: 100px">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="https://previews.123rf.com/images/artinspiring/artinspiring1811/artinspiring181100743/127434465-portrait-of-young-man-beautiful-handsome-boy-a...or.jpg" class="w-100">
                    </div>
                    <div class="col-sm-8 d-flex align-items-center justify-content-center">
                        <h5>
                            Họ và tên: Đoàn Ngọc Văn Quý<br>
                            Vai trò: Team member<br>
                            Mã số sinh viên: 2212865<br>
                            Email: quy.doan0316@hcmut.edu.vn
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 box my-5" style="min-height: 100px">
                <div class="row">
                    <div class="col-sm-8 d-flex align-items-center justify-content-center">
                        <h5>
                            Họ và tên: Nguyễn Minh Quân<br>
                            Vai trò: Team member<br>
                            Mã số sinh viên: 2212801<br>
                            Email: quan.nguyenminh1610@hcmut.edu.vn
                        </h5>
                    </div>
                    <div class="col-sm-4">
                        <img src="https://previews.123rf.com/images/artinspiring/artinspiring1811/artinspiring181100743/127434465-portrait-of-young-man-beautiful-handsome-boy-a...or.jpg" class="w-100">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 box my-5" style="min-height: 100px">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="https://previews.123rf.com/images/artinspiring/artinspiring1811/artinspiring181100743/127434465-portrait-of-young-man-beautiful-handsome-boy-a...or.jpg" class="w-100">
                    </div>
                    <div class="col-sm-8 d-flex align-items-center justify-content-center">
                        <h5>
                            Họ và tên: Đỗ Minh Quân<br>
                            Vai trò: Team member<br>
                            Mã số sinh viên: 2212781<br>
                            Email: quan.dominh2k4@hcmut.edu.vn
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 box my-5" style="min-height: 100px">
                <div class="row">
                    <div class="col-sm-8 d-flex align-items-center justify-content-center">
                        <h5>
                            Họ và tên: Phạm Đức Toản<br>
                            Vai trò: Team member<br>
                            Mã số sinh viên: 2213545<br>
                            Email: toan.pham962004@hcmut.edu.vn
                        </h5>
                    </div>
                    <div class="col-sm-4">
                        <img src="https://previews.123rf.com/images/artinspiring/artinspiring1811/artinspiring181100743/127434465-portrait-of-young-man-beautiful-handsome-boy-a...or.jpg" class="w-100">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 box my-5" style="min-height: 100px">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="https://previews.123rf.com/images/artinspiring/artinspiring1811/artinspiring181100743/127434465-portrait-of-young-man-beautiful-handsome-boy-a...or.jpg" class="w-100">
                    </div>
                    <div class="col-sm-8 d-flex align-items-center justify-content-center">
                        <h5>
                            Họ và tên: Trần Thành Tài<br>
                            Vai trò: Team member<br>
                            Mã số sinh viên: 2213001<br>
                            Email: tai.tranthanh@hcmut.edu.vn
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 p-0">
            <img src="https://apex.edu.vn/wp-content/uploads/2023/08/su-menh-thuong-hieu.jpg" class="w-100 h-100">
        </div>
        <div class="col-sm-6 p-0 boxmission d-flex justify-content-center align-items-center">
            <div class="d-block text-center">
                <h2>
                    Sứ mệnh<br>
                </h2>
                <h5>
                    Sứ mệnh của chúng tôi là cung cấp một nền tảng quản lí học thuật tiện lợi và toàn diện, nhằm tối ưu hóa trải nghiệm học tập của sinh viên. Chúng tôi cam kết đổi mới liên tục, hỗ trợ tận tình và đồng hành cùng sinh viên, thúc đẩy sự phát triển cá nhân và chuyên môn, nhằm tạo ra một môi trường học tập tích cực và đáp ứng mọi nhu cầu của cộng đồng sinh viên.
                </h5>
            </div>
        </div>
        <div class="col-sm-6 p-0 boxmission d-flex justify-content-center align-items-center">
            <div class="d-block text-center">
                <h2>
                    Tầm nhìn phát triển<br>
                </h2>
                <h5>
                    Tầm nhìn của chúng tôi là trở thành người dẫn đầu trong lĩnh vực công nghệ giáo dục, tạo ra những giải pháp sáng tạo và tiên tiến nhất để nâng cao chất lượng và hiệu suất trong học tập. Chúng tôi mong muốn xây dựng một cộng đồng học thuật mạnh mẽ, nơi mà sinh viên không chỉ học hỏi mà còn phát triển và thăng tiến trong sự nghiệp của mình. Chúng tôi tin rằng sự đổi mới liên tục và sự cam kết với sứ mệnh sẽ giúp chúng tôi thực hiện được tầm nhìn này và góp phần vào sự phát triển bền vững của giáo dục.
                </h5>
            </div>
        </div>
        <div class="col-sm-6 p-0">
            <img src="https://jobsgo.vn/blog/wp-content/uploads/2022/08/su-menh-la-gi.jpg" class="w-100 h-100">
        </div>
    </div>
</div>
</div>
<script>
    // JavaScript code goes here
    document.addEventListener('DOMContentLoaded', function() {
        document.body.style.opacity = 1; // Thiết lập opacity của body thành 1 khi nội dung đã được tải hoàn toàn
    });
</script>
</body>
</html>