<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout/web-layout.html}">
<head>
    <title>Liên hệ</title>
    <link href="/template/login/bootstrap/__maxcdn.bootstrapcdn.com_bootstrap_4.1.1_css_bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <!--        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <script src="/template/login/jquery/__maxcdn.bootstrapcdn.com_bootstrap_4.1.1_js_bootstrap.js"></script>
    <!--        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="/template/login/jquery/__cdnjs.cloudflare.com_ajax_libs_jquery_3.2.1_jquery.js"></script>
    <link th:href="@{template/web/css/contact.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body layout:fragment="content">
<div class="page-title p-0">
    <div class="heading" style="background-color: gray; color:white">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-8">
                    <h1>Contact<br></h1>
                    <p class="mb-0">Keep in touch with us</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-12 d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-lg-12 d-flex">
                    <span class="material-symbols-outlined">share_location</span>
                    <div>
                        <h4>Địa chỉ</h4>
                        <p>A3 – 268 Lý Thường Kiệt, Q. 10, TP. HCM</p>
                    </div>
                </div>
                <div class="col-lg-12 d-flex">
                    <span class="material-symbols-outlined">call</span>
                    <div>
                        <h4>Phone</h4>
                        <p> +84 366 989 471</p>
                    </div>
                </div>
                <div class="col-lg-12 d-flex">
                    <span class="material-symbols-outlined">mail</span>
                    <div>
                        <h4>Email</h4>
                        <p>welcome@cse.hcmut.edu.vn</p>
                    </div>
                </div>
                <div class="col-lg-12 d-flex">
                    <span class="material-symbols-outlined">fax</span>
                    <div>
                        <h4>Fax</h4>
                        <p>(84.8) 8.645.137</p>
                    </div>
                </div>
                <div class="col-lg-12 d-flex">
                    <span class="material-symbols-outlined">language</span>
                    <div>
                        <h4>Website</h4>
                        <p>http://www.cse.hcmut.edu.vn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>