<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{web/layout/web-layout.html}">
<head>
    <title>Custom title in inherit class</title>
    <link th:href="@{template/web/css/home.css}" rel="stylesheet">
    <link href="/template/login/bootstrap/__maxcdn.bootstrapcdn.com_bootstrap_4.1.1_css_bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <!--        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <script src="/template/login/jquery/__maxcdn.bootstrapcdn.com_bootstrap_4.1.1_js_bootstrap.js"></script>
    <!--        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="/template/login/jquery/__cdnjs.cloudflare.com_ajax_libs_jquery_3.2.1_jquery.js"></script>
</head>
<body >
<div layout:fragment="content">
    <!-- Page Content -->
    <div style="height: auto;background-size:cover ;background-repeat: no-repeat;background-image: url('https://png.pngtree.com/background/20231016/original/pngtree-contemporary-room-with-large-windows-and-library-shelves-overflowing-with-books-picture-image_5583196.jpg')">
        <div class="container-fluid hero" style="color: white">

            <!-- Heading Row -->
            <div class="row align-items-center my-5" >
                <!-- /.col-lg-8 -->
                <div class="col-lg-12">
                    <div  class="container">
                        <h1 data-aos="fade-up" data-aos-delay="100" class="">Learning Today,<br>Leading Tomorrow</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>