<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{web/layout/web-layout.html}">
<head>
    <title>Custom title in inherit class</title>
    <link th:href="@{template/web/css/home.css}" rel="stylesheet">
    <link href="/template/login/bootstrap/__maxcdn.bootstrapcdn.com_bootstrap_4.1.1_css_bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <!--        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <script src="/template/login/jquery/__maxcdn.bootstrapcdn.com_bootstrap_4.1.1_js_bootstrap.js"></script>
    <!--        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="/template/login/jquery/__cdnjs.cloudflare.com_ajax_libs_jquery_3.2.1_jquery.js"></script>
</head>
<body style="background-image: url('https://plus.unsplash.com/premium_photo-1661947876256-b44c1bfc04d2?q=80&w=1838&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90...A%3D%3D')">
<div layout:fragment="content">
    <!-- Page Content -->
    <div class="container-fluid hero" style="color: white">

        <!-- Heading Row -->
        <div class="row align-items-center my-5" >
            <!-- /.col-lg-8 -->
            <div class="col-lg-12">
                <h1  class="font-weight-light" sec:authorize="hasAuthority('ADMIN')">
                    Hello from Business Name or Tagline admin
                </h1>
                <h1  class="font-weight-light" sec:authorize="hasAuthority('TEACHER')">
                    Hello from Business Name or Tagline teacher
                </h1>
                <div  class="container">
                    <h1 data-aos="fade-up" data-aos-delay="100" class="">Learning Today,<br>Leading Tomorrow</h1>
                    <h4 data-aos="fade-up" data-aos-delay="200">We are team of talented designers making websites</h4>
                </div>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Call to Action Well -->
        <!--        <div class="card text-white bg-secondary my-5 py-4 text-center">-->
        <!--            <div class="card-body">-->
        <!--                <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>-->
        <!--            </div>-->
        <!--        </div>-->

        <!-- Content Row -->
    </div>
    <!--    <div class = "container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-4 mb-5">-->
    <!--                <div class="card h-100">-->
    <!--                    <div class="card-body">-->
    <!--                        <h2 class="card-title">Card One</h2>-->
    <!--                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>-->
    <!--                    </div>-->
    <!--                    <div class="card-footer">-->
    <!--                        <a href="#" class="btn btn-primary btn-sm">More Info</a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; /.col-md-4 &ndash;&gt;-->
    <!--            <div class="col-md-4 mb-5">-->
    <!--                <div class="card h-100">-->
    <!--                    <div class="card-body">-->
    <!--                        <h2 class="card-title">Card Two</h2>-->
    <!--                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>-->
    <!--                    </div>-->
    <!--                    <div class="card-footer">-->
    <!--                        <a href="#" class="btn btn-primary btn-sm">More Info</a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; /.col-md-4 &ndash;&gt;-->
    <!--            <div class="col-md-4 mb-5">-->
    <!--                <div class="card h-100">-->
    <!--                    <div class="card-body">-->
    <!--                        <h2 class="card-title">Card Three</h2>-->
    <!--                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>-->
    <!--                    </div>-->
    <!--                    <div class="card-footer">-->
    <!--                        <a href="#" class="btn btn-primary btn-sm">More Info</a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; /.col-md-4 &ndash;&gt;-->

    <!--        </div>-->
    <!--        &lt;!&ndash; /.row &ndash;&gt;-->

    <!--    </div>-->
    <!-- /.container -->
</div>
</body>
</html>