<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{web/layout/web-layout.html}">
<head>
    <title>Student Management System</title>
    <link th:href="@{/template/web/css/student_view.css}" rel="stylesheet">
    <style>
        .nav-link {
            transition: background-color 0.3s ease;
        }
        .nav-link:hover {
            background-color: rgba(0, 123, 255, 0.2);
        }
    </style>
</head>
<body>
<div layout:fragment="content">

    <div class="header">
        <div class="container mt-3">
            <div class="row">
                <div class="col-sm-9">
                    <h3 th:text="'Lớp '+ ${class.classId} +'_HK'+ ${class.semesterId}"></h3>
                    <h4>Danh sách sinh viên</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-3">
                <div class="border-top border-bottom" style="margin-bottom: 20px;">
                    <div class="container d-flex justify-content-between align-items-center" style="margin-top: 10px; margin-bottom: 10px;">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="'/course?id=' + ${class.classId}" style="color: #6c757d">Khoá học</a>
                            </li>
                            <li class="nav-item" sec:authorize="hasAuthority('TEACHER')">
                                <a class="nav-link" th:href="'/list-student?id=' + ${class.classId}">Danh sách lớp</a>
                            </li>
                            <li class="nav-item" sec:authorize="hasAuthority('TEACHER')">
                                <a class="nav-link" th:href="'/teacher/update_student?classId=' + ${class.classId} + '&courseId=' + ${class.courseId}" style="color: #6c757d">Nhập điểm</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-bordered table-striped" style="overflow: auto">
                    <thead>
                    <tr style="text-align: center; color: white; background-color: black;">
                        <th width = "15%">Mã sinh viên</th>
                        <th width = "25%">Họ và tên</th>
                        <th>Email</th>
                        <th width = "10%">Xóa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student : ${listStudent}">
                        <td th:text="${student.id}"></td>
                        <td th:text="${student.fullName}"></td>
                        <td th:text="${student.email}"></td>
                        <td>
                            <a class="btn btn-link delete-button" th:href="@{|/del-student?classId=${class.classId}&id=${student.id}|}">Xóa</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p th:if="${notHaveStudent}" class="blurred-text lead text-center">Lớp hiện chưa có sinh viên</p>
            </div>
        </div>
    </div>
    <div th:id="message" style="display: none;" th:attr="message=${message}"></div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalExit"></button>
            </div>
        </div>
    </div>
    <script>
        window.addEventListener("load", function() {
            const message = document.getElementById("message").getAttribute("message");
            if (message) {
                const modalBody = document.getElementById("modalBody");
                const modalExit = document.getElementById("modalExit");
                modalBody.innerText = message;
                modalExit.innerText = "Đóng";
                $('#modal').modal('show');
            }
        });
    </script>
</div>
</body>
</html>