<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{web/layout/web-layout.html}">
<head>
    <title>Dịch vụ</title>
    <link th:href="@{/template/web/css/student_view.css}" rel="stylesheet">
</head>
<body>
    <div layout:fragment="content">
        <!-- Page content -->

        <div class="header">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-sm-9">
                        <h3 th:if="${type} == 'teacher'">Dịch vụ giáo viên</h3>
                        <h3 th:if="${type} == 'student'">Dịch vụ sinh viên</h3>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="container mt-4">
            <div  th:if="${type == 'student'}" class="row">
                <div class="col-sm-6 p-4">
                    <div class = "row box-modify">
                        <div class="col-sm-4 ">
                            <a th:href="@{/info}" class="">
<!--                                <img src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/474115CxK/anh-background-hinh-khoi_120715507.png" alt="" class="w-100">-->
                                <img th:src="@{/images/common/service_background.png}" alt="" class="w-100">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <a th:href="@{/info}" class="no_underline">
                                <h5 class = "mt-4 mb-0">Thông tin</h5>
                            </a>
                            <p>Thông tin sinh viên</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 p-4">
                    <div class="row box-modify">
                        <div class="col-sm-4">
                            <a th:href="@{/student/score}" class="">
<!--                                <img src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/474115CxK/anh-background-hinh-khoi_120715507.png" alt="" class="w-100">-->
                                <img th:src="@{/images/common/service_background.png}" alt="" class="w-100">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <a th:href="@{/student/score}" class="no_underline">
                                <h5 class="mb-0 mt-4">Điểm</h5>
                            </a>
                            <p mt>Xem điểm</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 p-4">
                    <div class="row box-modify">
                        <div class="col-sm-4">
                            <a href="/student/timetable" class="">
<!--                                <img src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/474115CxK/anh-background-hinh-khoi_120715507.png" alt="" class="w-100">-->
                                <img th:src="@{/images/common/service_background.png}" alt="" class="w-100">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <a th:href="@{/student/timetable}" class="no_underline">
                                <h5 class="mb-0 mt-4">Thời khóa biểu</h5>
                            </a>
                            <p>Xem thời khóa biểu</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 p-4">
                    <div class="row box-modify">
                        <div class="col-sm-4">
                            <a th:href="@{/student/learning-process}" class="">
<!--                                <img src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/474115CxK/anh-background-hinh-khoi_120715507.png" alt="" class="w-100">-->
                                <img th:src="@{/images/common/service_background.png}" alt="" class="w-100">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <a th:href="@{/student/learning-process}" class="no_underline">
                                <h5 class="mb-0 mt-4">Tiến trnh học tập</h5>
                            </a>
                            <p>Xem điểm của các môn học đã hoàn thành</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 p-4">
                    <div class="row box-modify">
                        <div class="col-sm-4">
                            <a href="/student/registration?courseId=" class="">
<!--                                <img src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/474115CxK/anh-background-hinh-khoi_120715507.png" alt="" class="w-100">-->
                                <img th:src="@{/images/common/service_background.png}" alt="" class="w-100">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <a th:href="@{/student/registration?courseId=}" class="no_underline">
                                <h5 class="mb-0 mt-4">Đăng ký môn học</h5>
                            </a>
                            <p>Đăng ký kế hoạch học tập, đăng ký khóa học</p>
                        </div>
                    </div>
                </div>

            </div>

            <div  th:if="${type == 'teacher'}" class="row">
                <div class="col-sm-6 p-4">
                    <div class = "row box-modify">
                        <div class="col-sm-4 ">
                            <a th:href="@{/info}" class="">
<!--                                <img src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/474115CxK/anh-background-hinh-khoi_120715507.png" alt="" class="w-100">-->
                                <img th:src="@{/images/common/service_background.png}" alt="" class="w-100">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <a th:href="@{/info}" class="no_underline">
                                <h5 class = "mt-4 mb-0">Thông tin</h5>
                            </a>
                            <p>Thông tin giáo viên</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 p-4">
                    <div class="row box-modify">
                        <div class="col-sm-4">
                            <a th:href="@{/teacher/timetable}" class="">
<!--                                <img src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/474115CxK/anh-background-hinh-khoi_120715507.png" alt="" class="w-100">-->
                                <img th:src="@{/images/common/service_background.png}" alt="" class="w-100">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <a th:href="@{/teacher/timetable}" class="no_underline">
                                <h5 class="mb-0 mt-4">Lịch trình giảng dạy</h5>
                            </a>
                            <p>Xem lịch trình giảng dạy của bạn</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 p-4">
                    <div class="row box-modify">
                        <div class="col-sm-4">
                            <a th:href="@{/teacher/registration?courseId=}" class="">
<!--                                <img src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/474115CxK/anh-background-hinh-khoi_120715507.png" alt="" class="w-100">-->
                                <img th:src="@{/images/common/service_background.png}" alt="" class="w-100">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <a th:href="@{/teacher/registration?courseId=}" class="no_underline">
                                <h5 class="mb-0 mt-4">Đăng kí nhận lớp</h5>
                            </a>
                            <p>Đăng kí lớp giảng dạy</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 p-4">
                    <div class="row box-modify">
                        <div class="col-sm-4">
                            <a th:href="@{/teacher/inputscore}" class="">
<!--                                <img src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/474115CxK/anh-background-hinh-khoi_120715507.png" alt="" class="w-100">-->
                                <img th:src="@{/images/common/service_background.png}" alt="" class="w-100">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <a th:href="@{/teacher/inputscore}" class="no_underline">
                                <h5 class="mb-0 mt-4">Nhập điểm</h5>
                            </a>
                            <p>Nhập điểm cho lớp học</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <!-- /.container -->
    </div>
</body>
</html>

