body {
    opacity: 0; /* Bắt đầu với opacity 0 để ẩn phần body */
    animation: fadeIn 2s ease forwards; /* Kích hoạt animation fade-in trong 2 giây */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.page-title {
    --default-color: var(--contrast-color);
    --default-color-rgb: var(--contrast-color-rgb);
    --background-color: var(--accent-color);
    --heading-color: var(--contrast-color);
    color: var(--default-color);
    background-color: var(--background-color);
    position: relative;
}

.page-title .heading {
    padding: 80px 0;
    border-top: 1px solid rgba(var(--default-color-rgb), 0.1);
}

.page-title .heading h1 {
    font-size: 38px;
    font-weight: 700;
}

.page-title nav {
    background-color: rgba(var(--default-color-rgb), 0.099);
    padding: 20px 0;
}

.page-title nav a {
    color: var(--default-color);
}

.page-title nav ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.page-title nav ol li+li {
    padding-left: 10px;
}

.page-title nav ol li+li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: rgba(var(--default-color-rgb), 0.3);
}