<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{web/layout/web-layout.html}">
<head>
    <title>Student Management System</title>
    <link th:href="@{/template/web/css/student_view.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">

    <div class="header">
        <div class="container mt-3">
            <div class="row">
                <div class="col-sm-9">
                    <h3>Time Table</h3>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-3">
                <table class="table table-bordered table-striped" style="overflow: auto">
                    <thead>
                    <tr style="text-align: center; color: white; background-color: black;">
                        <th width = "100px">Course Id</th>
                        <th width = "200px">Course name</th>
                        <th width = "200px">Điểm thành phần</th>
                        <th width = "100px">Điểm thi</th>
                        <th width = "100px">Điểm tổng kết</th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    <tr th:each="point, iterp: ${points}">
                        <td th:if="${point.getCourseId() != ''}" th:text="${point.getCourseId()}"> Course </td>
                        <td th:if="${point.getCourseName() != ''}" th:text="${point.getCourseName()}"> Name </td>
                        <td th:if="${point.getPointBT() != ''}" th:text="${'BT: '+point.getPointBT()+'BTL: '+point.getPointBTL()+'GK: '+point.getPointGK()}"> Point </td>
                        <td th:if="${point.getPointCK() != ''}" th:text="${point.getPointCK()}"> PointCK </td>
                        <div th:each="result,iterr : ${results}" th:if="${iterr.index} == ${iterp.index}">
                            <td th:text="${result}"></td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

</body>
</html>