<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <!-- Footer -->
    <footer th:fragment="footer" class="mt-auto bg-dark">
        <!-- Remove the container if you want to extend the Footer to full width. -->
        <div class="container">
            <!-- Footer -->
                    <!-- Section: Links -->
<!--                    <section class="mt-5">-->
                        <!-- Grid row-->
                        <div class="row text-center d-flex justify-content-center pt-5">
                            <!-- Grid column -->
                            <div class="col-md-2">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a th:href="@{/about}" class="text-white">About us</a>
                                </h6>
                            </div>
                            <!-- Grid column -->


                            <!-- Grid column -->
                            <div class="col-md-2">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a href="#!" class="text-white">Home</a>
                                </h6>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-2">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a href="#!" class="text-white">Contact</a>
                                </h6>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row-->
<!--                    </section>-->
                    <!-- Section: Links -->

                    <hr class="my-3" />

                    <!-- Section: Text -->
                    <section class="">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                                <p>
                                    NOTHING HERE <3
                                </p>
                            </div>
                        </div>
                    </section>
                    <!-- Section: Text -->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div
                        class="text-center p-3"
                        style="background-color: rgba(0, 0, 0, 0.2)"
                >
                    © 2024 Copyright:
                    <a class="text-white" href="https://mdbootstrap.com/"
                    >MDBootstrap.com</a
                    >
                </div>
                <!-- Copyright -->
        <!-- End of .container -->
    </footer>
</body>
</html>