<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{web/layout/web-layout.html}">
<head>
    <title>Custom title in inherit class</title>
</head>
    <body>
        <div layout:fragment="content">
            <!-- Page Content -->
            <div class="container">
                <!--  Đây là mẫu cho tất cả trang web, mọi người khi được yêu cầu viết FE của web
                      thì copy template này vào chinh sửa trong tag container này
                      -->
            </div>
            <!-- /.container -->
        </div>
    </body>
</html>