<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Login</title>
<!--        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
        <link href="/template/login/bootstrap/__maxcdn.bootstrapcdn.com_bootstrap_4.1.1_css_bootstrap.css" rel="stylesheet" id="bootstrap-css">
<!--        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
        <script src="/template/login/jquery/__maxcdn.bootstrapcdn.com_bootstrap_4.1.1_js_bootstrap.js"></script>
<!--        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
        <script src="/template/login/jquery/__cdnjs.cloudflare.com_ajax_libs_jquery_3.2.1_jquery.js"></script>
        <link href="/template/login/style.css" rel="stylesheet" type="text/css" media="all"/>
    </head>
    <body id="LoginForm">
        <div class="container">
            <div class="login-form">
                <div class="main-div">
                    <div class="panel">
                        <h2>Admin Login</h2>
                        <p>Please enter your email and password</p>
                    </div>
                    <div th:if="${param.error}">
                        Invalid username and password.</div>
                    <div th:if="${param.logout}">
                        You have been logged out.</div>
                    <form id="Login" th:action="@{/j_spring_security_check}" method="post">
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <button type="submit" value="Log in" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
