<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/admin-layout.html}">
    <head>
        <title>Tạo khóa học</title>
    </head>
    <body>
    <div layout:fragment="content">
        <!-- Page Content -->
        <div class="container">
            <h1></h1>
            <hr>
            <form name="data-form" th:action="@{/admin-management/add-course}" method="post" id="myForm" class="form-group">
                <label for="courseId">Course ID:</label>
                <input type="text" id="courseId" name="courseId" class="form-control"><br>
                <label for="courseName">Course Name:</label>
                <input type="text" id="courseName" name="courseName" class="form-control"><br>
                <label for="credit">Credit:</label>
                <input type="number" id="credit" name="credit" class="form-control" min="0"><br>
                <label for="percentBT">Percent of BT point:</label>
                <input type="number" id="percentBT" name="percentBT" class="form-control" min="0" max="1" step="0.1"><br>
                <label for="percentBTL">Percent of BTL point:</label>
                <input type="number" id="percentBTL" name="percentBTL" class="form-control" min="0" max="1" step="0.1"><br>
                <label for="percentGK">Percent of GK point:</label>
                <input type="number" id="percentGK" name="percentGK" class="form-control" min="0" max="1" step="0.1"><br>
                <label for="percentCK">Percent of CK point:</label>
                <input type="number" id="percentCK" name="percentCK" class="form-control" min="0" max="1" step="0.1"><br>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
        <!-- /.container -->
    </div>
    </body>
</html>