<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/admin-layout.html}">
<head>
  <title>Tạo Lớp Học</title>
</head>
<body>
<div layout:fragment="content">
  <!-- Page Content -->
  <div class="container">
    <h1></h1>
    <hr>
    <form name="data-form1" th:action="@{/admin-management/addClass}" method="post" id="myForm1" class="form-group">
      <label for="classID">class ID:</label>
      <input type="text" id="classID" name="classID" class="form-control"><br>
      <label for="className">class Name:</label>
      <input type="text" id="className" name="className" class="form-control"><br>
      <label for="teacherID">teacher ID:</label>
      <input type="text" id="teacherID" name="teacherID" class="form-control"><br>
      <label for="teacherName">teacher Name:</label>
      <input type="text" id="teacherName" name="teacherName" class="form-control"><br>
      <label for="dayOfWeek">day Of Week:</label>
      <input type="text" id="dayOfWeek" name="dayOfWeek" class="form-control"><br>
      <label for="timeStart">time Start:</label>
      <input type="text" id="timeStart" name="timeStart" class="form-control"><br>
      <label for="timeEnd">time End:</label>
      <input type="text" id="timeEnd" name="timeEnd" class="form-control"><br>
      <label for="room">room:</label>
      <input type="text" id="room" name="room" class="form-control"><br>
      <input type="submit" value="Submit">
    </form>
  </div>
  <!-- /.container -->
</div>
</body>
</html>