<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/admin-layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Trang quản trị</title>
</head>
    <body>
        <div layout:fragment="content">
            <!-- Page Content -->
            <div class="container">
                <h1>Trang chủ</h1>
                <hr>
                <p>Xin chào <span sec:authentication="principal.username"></span> </p>
            </div>
            <!-- /.container -->
        </div>
    </body>
</html>