<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/admin-layout.html}">
<head>
    <title>Tạo lớp học</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.8.0/slimselect.min.css" integrity="sha512-QhrDqeRszsauAfwqszbR3mtxV3ZWp44Lfuio9t1ccs7H15+ggGbpOqaq4dIYZZS3REFLqjQEC1BjmYDxyqz0ZA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div layout:fragment="content">
    <!-- Page Content -->
    <div class="container">
        <h1 th:text="'Mã lớp học ' + ${class.classId}"></h1>
        <hr>
        <div class="alert alert-danger" id="errorMessage2" style="display: none;">
            Thời gian không hợp lệ
        </div>
        <form name="data-form" th:action="@{|/admin-management/update-class?id=${class.classId}|}" th:object="${class}" method="post" id="myForm" class="form-group">
            <div class="row float-right">
                <div class="custom-control custom-switch float-right">
                    <input type="checkbox" class="custom-control-input" id="switch1" onclick="toggleInput()">
                    <label class="custom-control-label" for="switch1">Chỉnh sửa</label>
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <label for="dayOfWeek">Ngày học:</label>
                    <select id="dayOfWeek" name="dayOfWeek" class="form-control"
                            th:attr="day=${class.dayOfWeek}" required disabled>
                        <option value="Monday">Thứ hai</option>
                        <option value="Tuesday">Thứ ba</option>
                        <option value="Wednesday">Thứ tư</option>
                        <option value="Thursday">Thứ năm</option>
                        <option value="Friday">Thứ sáu</option>
                        <option value="Saturday">Thứ bảy</option>
                        <option value="Sunday">Chủ nhật</option>
                    </select><br>
                </div>
                <div class="col">
                    <label for="room">Phòng:</label>
                    <input type="text" id="room" name="room" class="form-control"
                           th:value="${class.room}" required disabled><br>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="timeStart">Thời gian vào tiết:</label>
                    <input type="time" id="timeStart" name="timeStart" class="form-control"
                           th:value="${class.timeStart}" required disabled><br>
                </div>
                <div class="col">
                    <label for="timeStudy">Số tiết:</label>
                    <input type="number" id="timeStudy" name="timeStudy" class="form-control"
                           th:value="${class.timeStudy}" required min="0" disabled><br>
                </div>
            </div>
            <label for="semester">Học kì:</label>
            <select id="semester" name="semester" class="form-control" required disabled>
                <option th:each="hk : ${semester}" th:value="${hk.semesterName}" th:selected="${class.semester == hk.semesterName}"
                        th:text="${hk.semesterName}"></option>
            </select><br>
            <input type="submit" value="Submit" id="submitButton" class="btn btn-primary float-right" disabled>
        </form>
    </div>
    <div th:id="message" style="display: none;" th:attr="message=${message}"></div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary float-right" data-dismiss="modal" id="modalExit"></button>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.8.0/slimselect.min.js" integrity="sha512-mG8eLOuzKowvifd2czChe3LabGrcIU8naD1b9FUVe4+gzvtyzSy+5AafrHR57rHB+msrHlWsFaEYtumxkC90rg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.getElementById("myForm").addEventListener("submit", function(event) {
            event.preventDefault();

            const parts = document.getElementById("timeStart").value.split(':');
            let hour = parseInt(parts[0], 10);
            hour += parseInt(document.getElementById("timeStudy").value, 10);
            if(hour > 24) {
                document.getElementById("errorMessage2").style.display = "block";
            } else {
                document.getElementById("errorMessage2").style.display = "none";
                check2=true;
                this.submit();
            }
        });

        window.addEventListener("load", function(){
            const message = document.getElementById("message").getAttribute("message");
            if(message) {
                const modalBody = document.getElementById("modalBody");
                const modalExit = document.getElementById("modalExit");
                modalBody.innerText = message;
                modalExit.innerText = "Đóng";
                $('#modal').modal('show');
                document.getElementById("switch1").checked = true;
                document.getElementById('dayOfWeek').disabled = !document.getElementById('dayOfWeek').disabled;
                document.getElementById('room').disabled = !document.getElementById('room').disabled;
                document.getElementById('timeStart').disabled = !document.getElementById('timeStart').disabled;
                document.getElementById('timeStudy').disabled = !document.getElementById('timeStudy').disabled;
                document.getElementById('semester').disabled = !document.getElementById('semester').disabled;
                document.getElementById('submitButton').disabled = !document.getElementById('submitButton').disabled;
            }
            const selectDay = document.getElementById("dayOfWeek");
            switch (selectDay.getAttribute("day")){
                case "Monday":
                    selectStatus.option[0] = true;
                    break;
                case "Tuesday":
                    selectStatus.option[1] = true;
                    break;
                case "Wednesday":
                    selectStatus.option[2] = true;
                    break;
                case "Thursday":
                    selectStatus.option[3] = true;
                    break;
                case "Friday":
                    selectStatus.option[4] = true;
                    break;
                case "Saturday":
                    selectStatus.option[5] = true;
                    break;
                case "Sunday":
                    selectStatus.option[6] = true;
                    break;
            }
        });

        function parseTime(timeStr) {
            const [hours, minutes] = timeStr.split(':');
            const date = new Date();
            date.setHours(parseInt(hours, 10));
            date.setMinutes(parseInt(minutes, 10));
            return date;
        }
        function toggleInput() {
            document.getElementById('dayOfWeek').disabled = !document.getElementById('dayOfWeek').disabled;
            document.getElementById('room').disabled = !document.getElementById('room').disabled;
            document.getElementById('timeStart').disabled = !document.getElementById('timeStart').disabled;
            document.getElementById('timeStudy').disabled = !document.getElementById('timeStudy').disabled;
            document.getElementById('semester').disabled = !document.getElementById('semester').disabled;
            document.getElementById('submitButton').disabled = !document.getElementById('submitButton').disabled;
        }
        new SlimSelect({
            select: "#courseId"
        });
    </script>
</div>
</body>
</html>