<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/admin-layout.html}">
<head>
    <title>Trang quản trị</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Page Content -->
    <div class="container">
        <h1 th:text="'Mã khóa học ' + ${course.courseId}"></h1>
        <hr>

        <form name="data-form" th:action="@{|/admin-management/update-course?id=${course.courseId}|}" method="post" id="myForm" class="form-group">
            <div class="row float-right">
                <div class="custom-control custom-switch float-right">
                    <input type="checkbox" class="custom-control-input" id="switch1" onclick="toggleInput()">
                    <label class="custom-control-label" for="switch1">Chỉnh sửa</label>
                </div>
            </div><br>
            <div class="alert alert-danger" id="errorMessage" style="display: none;">
                Tổng tỉ lệ điểm phải bằng 100%
            </div>
            <div class="row">
                <div class="col">
                    <label for="courseName">Tên khóa học:</label>
                    <input type="text" id="courseName" name="courseName" class="form-control"
                           th:value="${course.courseName}" required disabled><br>
                </div>
                <div class="col">
                    <label for="credit">Tín chỉ:</label>
                    <input type="number" id="credit" name="credit" class="form-control" min="0"
                           th:value="${course.credit}" required disabled><br>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="percentBT">Tỉ lệ điểm BT (%):</label>
                    <input type="number" id="percentBT" name="percentBT" class="form-control" min="0" max="100"
                           th:value="${course.percentBT}" required disabled><br>
                </div>
                <div class="col">
                    <label for="percentBTL">Tỉ lệ điểm BTL (%):</label>
                    <input type="number" id="percentBTL" name="percentBTL" class="form-control" min="0" max="100"
                           th:value="${course.percentBTL}" required disabled><br>
                </div>
                <div class="col">
                    <label for="percentGK">Tỉ lệ điểm GK (%):</label>
                    <input type="number" id="percentGK" name="percentGK" class="form-control" min="0" max="100"
                           th:value="${course.percentGK}" required disabled><br>
                </div>
                <div class="col">
                    <label for="percentCK">Tỉ lệ điểm CK (%):</label>
                    <input type="number" id="percentCK" name="percentCK" class="form-control" min="0" max="100"
                           th:value="${course.percentCK}" required disabled><br>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary float-right" id="submitButton" disabled><br>
        </form><br>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                <span th:text="'Danh sách lớp của khóa học ' + ${course.courseId}"></span>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="class : ${classes}">
                            <td th:text="${class.classId}"></td>
                            <td th:text="${class.className}"></td>
                            <!-- Update button -->
                            <td>
                                <a class="btn btn-link update-button" th:href="@{|/admin-management/update-class?id=${class.classId}|}">Update</a>
                            </td>
                            <!-- Delete button -->
                            <td>
                                <a class="btn btn-link delete-button" th:href="@{|/admin-management/deleteClass?id=${class.classId}|}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                        <script>
                            function toggleInput() {
                                document.getElementById('courseName').disabled = !document.getElementById('courseName').disabled;
                                document.getElementById('credit').disabled = !document.getElementById('credit').disabled;
                                document.getElementById('percentBT').disabled = !document.getElementById('percentBT').disabled;
                                document.getElementById('percentBTL').disabled = !document.getElementById('percentBTL').disabled;
                                document.getElementById('percentGK').disabled = !document.getElementById('percentGK').disabled;
                                document.getElementById('percentCK').disabled = !document.getElementById('percentCK').disabled;
                                document.getElementById('submitButton').disabled = !document.getElementById('submitButton').disabled;
                            }
                        </script>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:id="message" style="display: none;" th:attr="message=${message}"></div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalExit"></button>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("myForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var num1 = parseInt(document.getElementById("percentBT").value);
            var num2 = parseInt(document.getElementById("percentBTL").value);
            var num3 = parseInt(document.getElementById("percentGK").value);
            var num4 = parseInt(document.getElementById("percentCK").value);
            var sum = num1 + num2 + num3 + num4;
            if(sum === 100) {
                document.getElementById("errorMessage").style.display = "none";
                this.submit();
            } else {
                document.getElementById("errorMessage").style.display = "block";
            }
        });

        window.addEventListener("load", function() {
            var message = document.getElementById("message").getAttribute("message");
            if (message) {
                var modalBody = document.getElementById("modalBody");
                var modalExit = document.getElementById("modalExit");
                modalBody.innerText = message;
                modalExit.innerText = "Đóng";
                $('#modal').modal('show');
            }
        });
    </script>
     /.container
</div>
</body>
<!-- Demo scripts for this page-->
<script th:src="@{/template/admin/js/demo/datatables-demo.js}"></script>
</html>