<!-- Thymeleaf fragment for generating a table -->
<div th:fragment="dynamicTable(type, models, cols, currentPage, totalItems, totalPages, pageSize, updateLink, deleteLink, href)">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" th:if="${type} == 'student'">Họ tên</th>
                    <th scope="col" th:if="${type} == 'teacher'">Họ tên</th>
                    <th scope="col" th:if="${type} == 'course'">Tên khóa học</th>
                    <th scope="col" th:if="${type} == 'class'">Tên lớp học</th>
                    <th scope="col" th:if="${type} == 'semester'">Tên học kì</th>
                    <th scope="col" th:if="${type} == 'student' or ${type} == 'teacher'">Tuổi</th>
                    <th scope="col" th:if="${type} == 'student'">Ngành học</th>
                    <th scope="col" th:if="${type} == 'teacher'">Trình độ</th>
                    <th scope="col" th:if="${type} == 'semester'">Ngày bắt đầu</th>
                    <th scope="col" th:if="${type} == 'semester'">Ngày kết thúc</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="model : ${models}">
                <!-- Render id-->
                <th th:if="${type} == 'student' or ${type} == 'teacher' or ${type} == 'semester'" scope="row" th:text="${model.id}"></th>
                <td th:if="${type} == 'course'" th:text="${model.courseId}"></td>
                <td th:if="${type} == 'class'" th:text="${model.classId}"></td>
                <!-- Render Object name -->
                <td th:if="${type} == 'student' or ${type} == 'teacher'" th:text="${model.fullName}"></td>
                <td th:if="${type} == 'course'" th:text="${model.courseName}"></td>
                <td th:if="${type} == 'class'" th:text="${model.className}"></td>
                <td th:if="${type} == 'semester'" th:text="${model.semesterName}"></td>
                <!-- Render for special field -->
                <td th:if="${type} == 'student' or ${type} == 'teacher'" th:text="${model.age}"></td>
                <td th:if="${type} == 'student'" th:text="${model.major}"></td>
                <td th:if="${type} == 'teacher'" th:text="${model.degree}"></td>
                <td th:if="${type} == 'semester'" th:text="${model.startDate}"></td>
                <td th:if="${type} == 'semester'" th:text="${model.endDate}"></td>
                <!-- Render action -->
                <td>
                    <a th:href="@{|/${updateLink}?id=${model.firebaseId}&type=${type}|}" title="Edit this tutorial"
                       class="fas fa-edit"></a>
                    &nbsp;
                    <a th:href="@{|/${deleteLink}?id=${model.firebaseId}&type=${type}|}" id="btnDeleteAcc"
                       title="Delete this tutorial" class="fas fa-trash icon-delete btn-delete"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Include the paginationNav fragment here -->
    <nav th:replace="~{admin/fragments/pagination::paginationNav(${currentPage}, ${totalItems}, ${totalPages}, ${pageSize}, ${href})}"></nav>
</div>