<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout/web-layout.html}">
<head>
    <title>Student Management System</title>
    <link th:href="@{/template/web/css/student_view.css}" rel="stylesheet">

    <style>
        a.button {
            padding: 1px 6px;
            border: 1px outset buttonborder;
            border-radius: 3px;
            color: buttontext;
            background-color: buttonface;
            text-decoration: none;
        }
    </style>
</head>

<body>
<div layout:fragment="content">

    <div class="header">
        <div class="container mt-3">
            <div class="row">
                <div class="col-sm-9">
                    <h3 th:text="${name}"></h3>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-3">
                <a th:href="@{|/teacher/inputscore|}">Quay lại danh sách lớp</a>
                <form name="formPoint" class="form-group" th:action="@{|/teacher/update_score?classId=${classId}&courseId=${courseId}|}" method="post">
                    <table class="table table-bordered table-striped" style="overflow: auto">
                        <thead>
                        <tr style="text-align: center; color: white; background-color: black;">
                            <th width="50px">Student ID</th>
                            <th width="300px">Student name</th>
                            <th width="50px">Điểm BT</th>
                            <th width="50px">Điểm BTL</th>
                            <th width="50px">Điểm GK</th>
                            <th width="50px">Điểm CK</th>
                            <th width="50px"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="point : ${points}" style="background: #F8F8FF">
                            <td th:text="${point.getStudentId()}"></td>
                            <td th:text="${point.getStudentName()}"></td>
                            <td th:text="${point.getPointBT()}"></td>
                            <td th:text="${point.getPointBTL()}"></td>
                            <td th:text="${point.getPointGK()}"></td>
                            <td th:text="${point.getPointCK()}"></td>
                            <td><a th:href="@{|/teacher/update_point?courseId=${point.getCourseId()}&studentId=${point.getStudentId()}|}">Update</a></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
