<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout/web-layout.html}">
<head>
    <title>Student Management System</title>
    <link th:href="@{/template/web/css/student_view.css}" rel="stylesheet">

    <style>
        a.button {
            padding: 1px 6px;
            border: 1px outset buttonborder;
            border-radius: 3px;
            color: buttontext;
            background-color: buttonface;
            text-decoration: none;
        }
    </style>
</head>


<body>
<div layout:fragment="content">

    <div class="header">
        <div class="container mt-3">
            <div class="row">
                <div class="col-sm-9">
                    <h3 th:text="${name}" style="display: inline"></h3>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

</body>
</html>